@media (min-width: 1201px)
  .hotel
    &-slider
      margin-left: 0!important
@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-grid
      width: 960px
    &-slider
      width: 600px
      margin-left: 0!important
  .swipe-img
    width: 100%
    height: 100%
  .card
    width: 230px
    height: 230px
  .other
    &-package
      max-width: 960px
      grid-template-columns: repeat(3, 300px)
  .package-card-0
    width: 630px
  .package-card-1
    width: 315px
  .package-card-2
    width: 315px
    &__title
      margin-bottom: 20px
    &__rooms
      margin-bottom: 23px
  .package-card-3
    width: 300px
  .card-first
    grid-row: 1
    grid-column: 3
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .hotel
    padding-bottom: 60px
    &-grid
      width: 700px
      flex-wrap: wrap
    &-right
      width: 100%
      flex-direction: row
      justify-content: space-between
    &-slider
      width: 100%
      margin-left: 0!important
      margin-bottom: 30px
  .booking
    width: 340px
    margin-bottom: 0
  .map
    width: 340px
    height: 210px
    &__link
      width: 340px
      height: 210px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .swipe-img
    width: 100%
    height: 100%
  .reviews
    padding: 40px 0 60px 0
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
      &__button
        &--prev
          left: 7px
          transform: translateY(-50%)
        &--next
          right: 7px
          transform: translateY(-50%)
  .activities
    padding: 60px 0 70px 0
    &-wrapper
      flex-wrap: wrap
      max-height: 530px
  .card
    width: 339px
    height: 255px
    margin-bottom: 20px
    &__title
      &--one
        width: 145px
        height: 40px
      &--two
        width: 153px
        height: 40px
      &--three
        width: 163px
        height: 40px
      &--four
        width: 200px
        height: 40px
  .other
    &-package
      max-width: 700px
      grid-template-columns: repeat(2, 335px)
  .package-card-0
    width: 700px
  .package-card-1
    width: 350px
  .package-card-2
    width: 350px
    &__title
      margin-bottom: 27px
    &__rooms
      margin-bottom: 37px
  .package-card-3
    width: 335px
  .card-first
    grid-row: 2
    grid-column: 1
  .card-second
    grid-row: 2
    grid-column: 2
  .card-three
    grid-row: 3
    grid-column: 1
  .card-four
    grid-row: 3
    grid-column: 2
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 95%
  .hotel
    padding-top: 38px
    padding-bottom: 40px
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-grid
      width: 100%
    &-right
      flex-wrap: wrap
      align-items: center
      justify-content: center
    &-slider
      margin-left: 0!important
      margin-bottom: 20px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
  .booking
    margin-bottom: 20px
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .swipe-img
    width: 100%
    height: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 95%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -105px
        &--next
          right: 50%
          transform: translate(-50%, 0)
          margin-right: -130px
  .card
    width: 49%
    height: 255px
  .other
    &-package
      max-width: 576px
      grid-template-columns: repeat(2, 259px)
  .package-card-0
    width: 549px
  .package-card-1
    width: 274px
  .package-card-2
    padding: 47px 21px 30px 30px
    width: 275px
    &__title
      margin-bottom: 27px
    &__rooms
      margin-bottom: 37px
    &__text
      font-size: 12px
      line-height: 165.6%
  .package-card-3
    width: 259px
    &__pricetag
      &--button
        font-size: 10px
  .card-first
    grid-row: 2
    grid-column: 1
  .card-second
    grid-row: 2
    grid-column: 2
  .card-three
    grid-row: 3
    grid-column: 1
  .card-four
    grid-row: 3
    grid-column: 2
@media (max-width: 576px)
  .navbar
    height: 70px
    &-top
      padding: 28px 0
      height: 100%
  .container
    height: 100%
    width: 85%
  .hotel
    &-info
      padding-bottom: 38px
    &-grid
      width: 100%
    &-right
      flex-wrap: wrap
      align-items: center
      justify-content: center
    &-slider
      margin-left: 0!important
      margin-bottom: 20px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -105px
        &--next
          right: 50%
          transform: translate(-50%, 0)
          margin-right: -130px
  .booking
    margin-bottom: 20px
  .booking
    margin-bottom: 20px
  .logo
    width: 99px
  .swipe-img
    width: 100%
    height: 100%
  .subscribe
    width: 100%
  .other
    &-package
      max-width: 576px
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 500px)
    &-title
      margin-bottom: 40px
  .package-card-0
    display: flex
    width: 100%
    flex-direction: column
  .package-card-1
    width: 100%
    height: 250px
    &__img
      border-radius: 8px 8px 0 0
  .package-card-2
    padding: 10px 21px 25px 32px
    width: 100%
    height: 250px
    border-radius: 0 0 8px 8px
    &__title
      margin-bottom: 23px
    &__rooms
      margin-bottom: 24px
    &__text
      display: none
    &__pricetag
      &--button
        font-size: 10px
        padding: 10px 26px
  .package-card-3
    width: 100%
  .card-first
    grid-row: 2
    grid-column: 1
  .card-second
    grid-row: 3
    grid-column: 1
  .card-three
    grid-row: 4
    grid-column: 1
  .card-four
    grid-row: 5
    grid-column: 1
  .flash-sale
    &__two
      padding: 8px 12px
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 15px
      border-radius: 0px 4px 4px 0px
@media ( min-width: 320px ) and ( max-width: 480px )
  .container
    height: 100%
    width: 85%
  .navbar
    height: 70px
    &-top
      padding: 28px 0
      height: 100%
  .hotel
    padding-top: 0
    &-grid
      width: 100%
    &-info
      margin-top: 5px
      padding-bottom: 38px
    &-slider
      margin-left: 0!important
      height: 179px
  .swiper-container
    height: 100%
  .swipe-img
    width: 100%
    height: 100%
  #map
    width: 100%
    min-width: 279px
    max-width: 340px
    max-height: 179px
  .booking
    width: 100%
    min-width: 279px
    max-width: 340px
  .reviews
    padding: 40px 0 50px
    &-slider
      &__item
        margin: 45px auto 0px
        padding: 0 31px 0px
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -95px
        &--next
          right: 50%
          transform: translate(-50%, 0)
          margin-right: -122px
      &__text
        width: 219px
        font-style: normal
        font-weight: normal
        text-align: left
        font-size: 12px
        line-height: 160%
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
  .newsletter
    width: 100%
    &-wrapper
      max-width: 280px
      height: 160px
  .activities
    padding: 40px 0 60px 0
    max-height: 1247px
    &-wrapper
      flex-wrap: wrap
      max-height: 1088px
    &__title
      width: 165px
      height: 23px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
  .card
    width: 100%
    height: 255px
